---
title: "Ratify v1.0.0 is available! An extensible verification framework for software supply chain security"
url: "https://ratify.dev/blog/ratify-v1.0.0-is-available"
date: "2023-10-29"
author: ""
feed_url: "https://ratify.dev/blog/rss.xml"
---
The Ratify maintainers are proud to announce the first major release v1.0.0 for production use!
